<div ncy-breadcrumb></div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form class="control" ng-submit="register()">
            <input type="text" class="form-control" ng-model="data.username" placeholder="name"><br>
            <!--<input type="text" class="form-control" ng-model="data.email" placeholder="email"><br>-->
            <!--<select class="form-control" style="width: 100px;" name="" id="" ng-model="data.sex">-->
                <!--<option value="male">male</option>-->
                <!--<option value="female">female</option>-->
            <!--</select><br>-->
            <input type="password" ng-model="data.password" class="form-control" placeholder="password"><br>
            <input type="password" ng-model="data.cpassword" class="form-control" placeholder="repeat password"><br>
            <input type="submit" value="Отправить" class="btn btn-primary">
        </form>
    </div>
</div>
